
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: linear-gradient(45deg, rgb(155, 83, 155), rgba(33, 190, 54, 0.678));
}

div {
    line-height: 30px;
    text-align: center;
    width: 100px;
    height: 30px;
    border: 1px solid skyblue;
    background-color: white;
    border-radius: 6px;
    color: skyblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}